#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.button {
  background-color: coral;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

.button:hover {
  filter: drop-shadow(0 0 2px #e8835e);
}

.button:active {
  background-color: #ef622f;
}

.button-error {
  background-color: red;
}

.button-error:hover {
  filter: drop-shadow(0 0 2px #ff0000aa);
}

.button-error:active {
  background-color: darkred;
}

.button-success {
  background-color: #4caf50;
}

.button-success:hover {
  filter: drop-shadow(0 0 2px #8ce146aa);
}

.button-success:active {
  background-color: #45a049;
}
