.products-table {
  width: 100%;
  border-spacing: 10 10px;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  background-color: cadetblue;
  color: white;
}

td {
  text-align: left;
}

.button-td {
  text-align: center;
}

strong {
  display: block;
}

.price {
  text-align: right;
}

.products-container {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 599px) {
  th, td, .price{
    display: block;
    text-align: center;
  }
}
